/* Give your page a fun background color */
body {
  background-color: #9AB4CD;
}
/* Make the header and footer a different color from the background */
header {
  background-color: #2F659A;
  box-shadow: 0 2px 3px #333333;
}

footer {
  background-color: #2F659A;
  box-shadow: 0 -2px 3px #333333;
}

.footer-text {
  color: #FFFFFF;
  font-family: 'American Typewriter', serif;
  font-style: italic;
  font-size: 18px;
  line-height: 1.5;
  text-align: right;
  margin: 0;
  padding: 30px 2% 2px 8%;

}
/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
  font-family: 'American Typewriter', serif;
}

h1 {
  margin: 0;
  padding: 20px 5%;
}

h2 {
  text-align: center;
  font-family: 'American Typewriter', serif;
  font-size: 25px;
  color: #FFFFFF;
  line-height: 1.5;
}
/* Make your p tag a different color and italic */
p {
  color: #FFFFFF;
  font-family: 'American Typewriter', serif;
  font-style: italic;
  font-size: 25px;
  line-height: 1.5;
  text-align: center;

}

ul li {
  padding-bottom: 15px;

}
/* Put a border around your image */
img.align-center {
  display: block;
  margin: 0px auto;
}
img {
  border: 10px solid #2F659A;
  padding: 5px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
/* Change the font-family of your list */
li {
  font-family: 'Arial', sans-serif;
  margin-left: 40px;
}
